 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*# Open FFoootteerr                                                                                   Open   Footer                                                                                                Open FFoootteerr */
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
footer {
  padding: 60px 0;
}

.tel-footer {
  color: rgba(240, 248, 255, 0.693);
}

.mail-footer {
  color: rgba(240, 248, 255, 0.693);
}

footer {
  background-color: $background-colors;
  color: $text-color;
}

.v {
  color: #FFFFFF;
  margin: 0;
  margin-top: 20px;
}

.v:hover,
.mail-footer:hover,
.tel-footer:hover {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.v:hover,
.mail-footer:hover,
.tel-footer:hover {
  color: #2196F3;
}

.footer-flex-box-1 {
  display: flex;
}

.fotero-1 {
  padding-right: 70px;
}

.join-footer {
  font-size: 18px;
  font-weight: 400;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-top: 0px;
}

.subscraib {
  font-size: 18px;
  font-weight: 400;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-top: 0px;
}

.navisdscdsa {
  padding-left: 93px;
}

.ddnavil {
  display: flex;
}

.subscription-input {
  padding-left: 12px;
  font-size: 16px;
  border: 1px solid #6c6d74;
  border-radius: 4px;
  color: #fff;
  background-color: #2f303a;
  width: 358px;
  height: 50px;
  margin-top: 20px;
}

.subscription-button {
  margin-top: 20px;
  width: 200px;
  height: 52px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #1e90ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription-button svg {
  margin-left: 10px;
}

.but-fn {
  padding-left: 12px;
}
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*# Close FFoootteerr                                                                                  Close   Footer                                                                                              Close FFoootteerr */
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
