 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*# Open Section-3                                                                                   Open   Section-3                                                                                                 Open Section-3 */
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.texsstt {
  text-align: center;
}

.imgssa {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0;
  margin-bottom: 94px;
}

.item {
  position: relative;
}

.teamss-text {
  font-size: 35px;
  padding-bottom: 20px;
}

.teamss-text {
  font-size: 32px;
  margin-bottom: 20px;
}

.description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.768627451);
  color: white;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
}

.item {
  height: 294px;
}

.it-s3-or4-i-forgot {
  font-size: 14px;
}
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*# Close Section-3                                                                                  Close   Section-3                                                                                               Close Section-3 */
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
