 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*# Open Section-2                                                                                   Open   Section-2                                                                                                 Open Section-2 */
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.details {
  margin: 94px 0;
}

.list {
  display: flex;
  justify-content: space-between;
}

#special-item1::before {
  content: url(/img/group1.jpg);
  width: 270px;
  height: 120px;
}

#special-item2::before {
  content: url(/img/group4.jpg);
  width: 270px;
  height: 120px;
}

#special-item3::before {
  content: url(/img/group3.jpg);
  width: 270px;
  height: 120px;
}

#special-item4::before {
  content: url(/img/group2.jpg);
  width: 270px;
  height: 120px;
}

.special-item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 170%;
}

.special-item h3 {
  font-size: 14px;
  font-weight: 700;
}

.texst12 {
  color: rgba(117, 117, 117, 0.8117647059);
}

.texst1 {
  font-weight: 500;
}

.text777 {
  color: rgba(117, 117, 117, 0.8117647059);
}

 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*# Close Section-2                                                                                  Close   Section-2                                                                                               Close Section-2 */
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
